
$buttonTertiaryColor: green;

button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-secondary {
	@extend button;
	background: red;

	&:hover {
		background: darken(red, 5%);
	}
}


.button-tertiary {
	@extend button;
	background: $buttonTertiaryColor;

	&:hover {
		background: darken($buttonTertiaryColor, 5%);
	}
}
